<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.technoplanet.p360">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/niramaya"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <activity
            android:name="com.technoplanet.p360.FlashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.technoplanet.p360.FirebaseActivity" />
        <activity android:name="com.technoplanet.p360.LoginActivity" />
        <activity android:name="com.technoplanet.p360.RegisterActivity" />
        <activity
            android:name="com.technoplanet.p360.NavigationActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name="com.technoplanet.p360.SubcatActivity" />
        <activity android:name="com.technoplanet.p360.UploadRxActivity" />
        <activity android:name="com.technoplanet.p360.CameraActivity" />
        <activity android:name="com.technoplanet.p360.ProductsActivity" />
        <activity android:name="com.technoplanet.p360.GmapActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAZYAlyUm4I88BrHkrvpC6qPqQva7lktRw" />

        <activity android:name="com.technoplanet.p360.MainActivity" />
        <activity
            android:name="com.technoplanet.p360.SearchActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name="com.technoplanet.p360.ProductDetActivity" />
        <activity android:name="com.technoplanet.p360.AddtoCartActivity">

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"
            tools:replace="android:value" />

    </application>

</manifest>
